In [1]:
lift_A=0
lift_B=7
test_case=int(input())
for _ in range(test_case):
    # Reading No.of Test Cases
    N=int(input())
    # reading floor
    condition_A=abs(lift_A-N)
    condition_B=abs(lift_B-N)
    if(condition_A <= condition_B):
        print("A")
        lift_A=N
    else:
        print("B")
        lift_B=N

2
5
B
2
A

In [8]:
#function to print all comibinations of pairs of integers in unique list
#[1,2,3]-->(1,2),(1,3),(2,3)
def combo2(l):
    for i in range(0,len(l)-1):
        for j in range(i+1,len(l)):
            print(l[i],l[j],end=")")

combo2([1,2,3,4])

1 2)1 3)1 4)2 3)2 4)3 4)

In [12]:
def combo3(l):
    for i in range(0,len(l)-2):
        for j in range(i+1,len(l)-1):
            for k in range(j+1,len(l)):
                print(l[i],l[j],l[k])
combo3([1,2,3,4])

1 2 3
1 2 4
1 3 4
2 3 4

In [32]:
def diffPairs(l):
    cli=l[:]
    newEle=[]
    for i in range(len(l)-1):
        for j in range(i+1,len(l)):
            if abs(l[i]-l[j]) not in l and abs(l[i]-l[j]) not in newEle:
                newEle.append(abs(l[i]-l[j]))
    l.extend(newEle)
    return(cli,l)
diffPairs([1,3,5])


def medium(l,k):
    while(True):
        li=diffPairs(l)
        if(li[0]==li[1]):
            break
        if(len(li[0])>=k):
            return sorted(li[0],reverse=True)[k-1]
        return -1

([1, 3, 5], [1, 3, 5, 2, 4])

In [33]:
def dPairs(l):
    newEle=[]
    for i in range(len(l)-1):
        for j in range(i+1,len(l)):
            d=abs(l[i]-l[j])
            if d not in l and d not in newEle:
                newEle.append(d)
    li.extend(newEle)

## Set Data Structure in Python
represented by '{}'
set.add()-->used to add a element which is not in a set
set1.update(set2)-->used to add unique ele from set2 to set1
set.discard(value)-->used to remove the passed value from set

In [46]:
a={1,2,3,4,4,5,5,5,5,5,5,5,5}
b={5,6,7,8,9,0}
l=[12,13,11]
a.add(7)
a.add(6)
a.update(b,l)
for i in a:
    print(i,end=" ")
a.discard(13)
a

0 1 2 3 4 5 6 7 8 9 11 12 13

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [50]:
l=[i**3 for i in range(1,111)]
l

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000]

In [60]:
n=10
l=[sum(range(i+1)) for i in range(1,n+1)]
l

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [61]:
m=1970
n=2019
ll=[i for i in range(m,n+1)if i%400==0 or (i%4==0 and i%100!=0)]
ll

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [68]:
li=[1,2,3,2,1]
ul=[]
[ul.append(i) for i in li if i not in ul]
ul

[1, 2, 3]